<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        <div class="container">
            <div class="header-left">
                <h1 class="title">物流管理システム</h1>
                <h2 class="base-name">{{ base_name }}</h2>
            </div>
            <div class="header-right">
                    <a class="btn selectbase-btn header-btn" href="{% url 'select_base' %}">拠点選択</a>
                    <a class="btn setting-btn header-btn" href="#setting">設定</a>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>

</html>