{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" >
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        <div class="container">
            <div class="header-left">
                <a class="title" href="{% url 'index' %}">物流管理システム</a>
                <h2 class="base-name">{{ base.name_ja }}</h2>
            </div>
            <div class="header-right">
                    <p class="login-status">{{ request.user.username }}としてログイン中</p>
                    <a class="btn selectbase-btn header-btn" href="{% url 'select_base' %}">拠点選択</a>
                    <a class="btn logout-btn header-btn" href="{% url 'logout' %}">ログアウト</a>
                    <a class="btn setting-btn header-btn" href="#setting">設定</a>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>

</html>