{% extends "logistics/base.html" %}
{% load static %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<title>物流 | {{ base.name_ja }} | 物流管理システム</title>
{% endblock %}

{% block content %}
<div class="side-nav">
    <div class="container">
        <a class="side-btn" href="{% url 'home' base_name=base.name_en %}">HOME</a>
        <a class="side-btn" href="{% url 'stock' base_name=base.name_en %}">在庫</a>
        <a class="side-btn" href="{% url 'staff' base_name=base.name_en %}">スタッフ</a>
        <a class="side-btn current" href="{% url 'distribution' base_name=base.name_en %}">物流</a>
    </div>
</div>

<div class="main">
    <h1 class="main-title">配送予定</h1>
    <div class="table-wrapper">
        <table class="distribution-table">
            <thead>
                <tr>
                    <th>配送元</th>
                    <th>配送先</th>
                    <th>品名</th>
                    <th>数量</th>
                    <th>担当者</th>
                </tr>
            </thead>
            <tbody>
                {% for dist in dists %}
                <tr>
                    <td>{{ dist.ship_from }}</td>
                    <td>{{ dist.ship_to}}</td>
                    <td>{{ dist.name }}</td>
                    <td>{{ dist.quantity }}</td>
                    <td>{{ dist.staff }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn input-btn" href="{% url 'input_distribution' base_name=base.name_en %}">配送入力</a>
</div>
{% endblock %}