{% load static %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" >
    <link rel="stylesheet" href="{% static 'css/select-base.css' %}">
    <title>フードバンク物流管理システム</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="header-left">
                <a class="system-title1" href="{% url 'index' %}">フードバンク</a>
                <h2 class="system-title2">物流管理システム</h2>
            </div>
            <div class="header-right">
                {% if request.user.is_authenticated %}
                    <a class="btn selectbase-btn header-btn btn-secondary" href="{% url 'select_base' %}">拠点選択</a>
                    <a class="btn logout-btn header-btn btn-secondary" href="{% url 'logout' %}">ログアウト</a>
                    <a class="btn setting-btn header-btn btn-secondary" href="#setting">設定</a>
                {% else %}
                    <a class="btn signup-btn header-btn btn-primary" href="{% url 'signup' %}">登録</a>
                    <a class="btn login-btn header-btn btn-primary" href="{% url 'login' %}">ログイン</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="main">
        <div class="main-container">
            <div class="main-title">
                <h1>Logistics Management System</h1>
                <h1>for Foodbank</h1>
            </div>
        </div>
    </div>

</body>

</html>
<style>
    body {
        background-image: url("{% static 'img/food.jpg' %}");
        font-family: "arial black";
    }
</style>