<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>拠点選択 | 物流管理システム</title>
    <link rel="stylesheet" href="{% static 'css/select-base.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <h1 class="title">物流管理システム</h1>
        </div>
    </header>
    <div class="select-wrapper">
        <div class="container">
            <div class="heading">
                <h2>拠点を選択してください</h2>
            </div>
            <div class="bases">
                <div class="base">
                    <a href="#fb-8">
                        <img class="base-icon" src="{% static 'img/fb-8.jpg' %}">
                        <p>フードバンク八王子</p>
                    </a>
                </div>
                <div class="base">
                    <a href="home.html">
                        <img class="base-icon" src="{% static 'img/fb-hazama.jpg' %}">
                        <p>フードバンク狭間</p>
                    </a>
                </div>
                <div class="base">
                    <a href="#fb-tnct">
                        <img class="base-icon" src="{% static 'img/fb-tnct.jpg' %}">
                        <p>フードバンク東京高専</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>