{% extends "logistics/base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<title>スタッフ | {{ base_name }} | 物流管理システム</title>
{% endblock %}

{% block content %}
<div class="side-nav">
    <div class="container">
        <a class="side-btn" href="{% url 'home' base_name=base_name %}">HOME</a>
        <a class="side-btn" href="{% url 'stock' base_name=base_name %}">在庫</a>
        <a class="side-btn current" href="{% url 'staff' base_name=base_name %}">スタッフ</a>
        <a class="side-btn" href="{% url 'distribution' base_name=base_name %}">物流</a>
    </div>
</div>
<div class="main">
    <p>スタッフメインコンテンツ</p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ja.js"></script>
    <div class="chart-container" style="height: 1000px; width: 1000px;">
        <canvas id="myChart" width="600px" height="600px"></canvas>
        <script>
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
            type: "bar",
            data:{
                labels:["A","B","C"],
                datasets:[{
                    data:[4,5,9],
                    backgroundColor: "red"
                },
                {
                data:[0.4,0.5,0.9],
                backgroundColor: "orange"
                }]
            },
            options:{
                scales:{
                    xAxes:[{
                        stacked: true
                    }],
                    yAxes:[{
                        stacked: true
                    }]
                }
            }
            });
        </script>
    </div>
</div>
{% endblock %}