{% extends "logistics/base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>HOME | {{ base_name }} | 物流管理システム</title>
{% endblock %}

{% block base_name %}
    <h2 class="base-name">{{ base_name }}</h2>
{% endblock %}

{% block content %}
    <div class="side-nav">
        <div class="container">
            <a class="side-btn" href="{% url 'home' base_name=base_name %}">HOME</a>
            <a class="side-btn" href="{% url 'stock' base_name=base_name %}">在庫</a>
            <a class="side-btn current" href="{% url 'staff' base_name=base_name %}">スタッフ</a>
            <a class="side-btn" href="{% url 'distribution' base_name=base_name %}">物流</a>
        </div>
    </div>

    <div class="main">
        <p>メインコンテンツ</p>
    </div>
{% endblock %}