{% extends "logistics/base.html" %}
{% load static %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<title>在庫 | {{ base.name_ja }} | 物流管理システム</title>
{% endblock %}

{% block content %}
<div class="side-nav">
    <div class="container">
        <a class="side-btn" href="{% url 'home' base_name=base.name_en %}">HOME</a>
        <a class="side-btn current" href="{% url 'stock' base_name=base.name_en %}">在庫</a>
        <a class="side-btn" href="{% url 'staff' base_name=base.name_en %}">スタッフ</a>
        <a class="side-btn" href="{% url 'distribution' base_name=base.name_en %}">物流</a>
    </div>
</div>

<div class="main">
    <h1 class="main-title">在庫一覧</h1>
    <div class="table-wrapper">
        <table class="stock-table">
            <thead>
                <tr>
                    <th>品名</th>
                    <th>カテゴリ</th>
                    <th>賞味期限</th>
                    <th>数量</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock.food.name }}</td>
                    <td>{{ stock.food.category }}</td>
                    <td>{{ stock.date }}</td>
                    <td>{{ stock.quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn input-stock-btn" href="{% url 'input_stock' base_name=base.name_en %}">在庫入力</a>
</div>
{% endblock %}